@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --color: #222;
  --primary: #fff;
  --secondary: #f7f2f2;
  --text-link: #0366d6;
}

body.dark-theme {
  --color: #c2c2c9;
  --primary: #292a2d;
  --secondary: #252627;
  --text-link: #58a6ff;
}

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  font-family: "Jetbrains Mono";
  font-size: 14px;
}

a {
  color: var(--text-link);
}

body {
  background-color: var(--primary);
  color: var(--color);
}

footer {
  margin: 25px;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  margin: 25px auto 0 auto;
}

pre {
  border-radius: 8px;
  color: #ffffff !important;
  /* padding: 10px; */
  background-color: #252627 !important;
  overflow: auto;
  font-size: 12px !important;
}

code {
  font-size: 13px !important;
  font-family: JetBrains Mono;
}
.theme-toggle {
  background: var(--secondary);
  padding: 10px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
  position: fixed;
}

.theme-toggle i {
  font-size: 1.2rem;
  border-radius: 0.5rem;
  opacity: 70%;
}

.notfound {
  font-size: 40px;
  text-align: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
pre::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
pre {
  -ms-overflow-style: none !important ; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}


/**
 * Darcula theme
 *
 * Adapted from a theme based on:
 * IntelliJ Darcula Theme (https://github.com/bulenkov/Darcula)
 *
 * @author Alexandre Paradis <service.paradis@gmail.com>
 * @version 1.0
 */

 code[class*="language-"],
 pre[class*="language-"] {
   color: #a9b7c6;
   font-family: "Jetbrains Mono";
   font-size: 14px;
   direction: ltr;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   line-height: 1.5;
 
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 pre[class*="language-"]::-moz-selection,
 pre[class*="language-"] ::-moz-selection,
 code[class*="language-"]::-moz-selection,
 code[class*="language-"] ::-moz-selection {
   color: inherit;
   background: rgba(33, 66, 131, 0.85);
 }
 
 pre[class*="language-"]::selection,
 pre[class*="language-"] ::selection,
 code[class*="language-"]::selection,
 code[class*="language-"] ::selection {
   color: inherit;
   background: rgba(33, 66, 131, 0.85);
 }
 
 /* Code blocks */
 pre[class*="language-"] {
   padding: 0 1em;
   overflow: auto;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background-color: #252627 !important;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: 0.1em;
   border-radius: 0.3em;
   aaa
 }
 
 .token.comment,
 .token.prolog,
 .token.cdata {
   color: #808080;
 }
 
 .token.delimiter,
 .token.boolean,
 .token.keyword,
 .token.selector,
 .token.important,
 .token.atrule {
   color: #cc7832;
 }
 
 .token.operator,
 .token.punctuation,
 .token.attr-name {
   color: #a9b7c6;
 }
 
 .token.tag,
 .token.tag .punctuation,
 .token.doctype,
 .token.builtin {
   color: #e8bf6a;
 }
 
 .token.entity,
 .token.number,
 .token.symbol {
   color: #6897bb;
 }
 
 .token.property,
 .token.constant,
 .token.variable {
   color: #9876aa;
 }
 
 .token.string,
 .token.char {
   color: #6a8759;
 }
 
 .token.attr-value,
 .token.attr-value .punctuation {
   color: #a5c261;
 }
 
 .token.attr-value .punctuation:first-child {
   color: #a9b7c6;
 }
 
 .token.url {
   color: #287bde;
   text-decoration: underline;
 }
 
 .token.function {
   color: #ffc66d;
 }
 
 .token.regex {
   background: #364135;
 }
 
 .token.bold {
   font-weight: bold;
 }
 
 .token.italic {
   font-style: italic;
 }
 
 .token.inserted {
   background: #294436;
 }
 
 .token.deleted {
   background: #484a4a;
 }
 
 code.language-css .token.property,
 code.language-css .token.property + .token.punctuation {
   color: #a9b7c6;
 }
 
 code.language-css .token.id {
   color: #ffc66d;
 }
 
 code.language-css .token.selector > .token.class,
 code.language-css .token.selector > .token.attribute,
 code.language-css .token.selector > .token.pseudo-class,
 code.language-css .token.selector > .token.pseudo-element {
   color: #ffc66d;
 }